<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
	<head>
		<meta http-equiv="content=type" content="text/html; charset=utf-8">
		<title>Gamme Status Viewer</title>
	</head>

	<body>
	  <script type="text/javascript">
	  </script>

	  <div>
            <h2> Migration Status Viewer </h2>
	  </div>

	  <div id="searchForm-div">
	    <form action="/queryuser" method="get">
	      <div>
		<label for="user" style="font-weight:bold;"> Enter UniqueId: </label>
                <label for="errorlbl" style="font-weight:bold;padding-left: 5em;"> {{error_str}} </label> </br>
	         <input type="text" name="userid"/>
		 <input type="submit" value="Submit" style="background-color:gray;"/>
              </div>
	     </form>
           </br></br></br>
           <div id="stats-div" style="background-color:gray">
              <label style="color:blue"> {{user_name}} </label></br>
              <label for="user" style="font-weight:bold;"> Migration Status: {{main_status}} - {{pids}} </label>
              <ul>
                <li>Calendar : {{Calendar_status}}</li>
                <li>Contacts : {{Contact_status }}</li>
                <li>Email    : {{Email_status }}</li></br>
		{% for row in email_stats %}
                <span style="padding-left: 2em;">{{ row }}</span></br>
		{% endfor %}
              </ul>
           </div>
              </br></br>
           <div id="errors-div" style="background-color:gray">
              <label for="user" style="font-weight:bold;">Errors Summary</label>
              <ul>
		{% for error, link in error_results%}
                <li class="{{ loop.cycle('odd', 'even') }}">
                    {{ error }} <a href="{{link}}"> 10 </a>
                </li>
		{% endfor %}
              </ul>
           </div>
         </div>
       </body>
</html>
